@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}

#animate-area	{ 
	width: 100%; 
	height: 100%; 
	background-image: url("http://i.imgur.com/duFA9sC.jpg?1");
    background-repeat:no-repeat;
	background-position: 0px 0px;
	background-repeat: repeat-x;
    

	animation: animatedBackground 40s linear infinite;
}

.card1{
    background-image: url("two.jpg");
    font-weight: bold;
    font-size: 3em;
    background-size: cover;
    width: 30%;
    height: 500px;
    border-radius: 5%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;
   
}

.card3{
    background-image: url("sunny.jpg");
    font-weight: bold;
    font-size: 3em;
    background-size: cover;
    width: 30%;
    height: 500px;
    border-radius: 5%;
    display: inline-block;
    
}
.card2{
    background-image: url("cloudy.jpeg");
    font-weight: bold;
    font-size: 3em;
    background-size: cover;
    height: 500px;
    width: 30%;
    border-radius: 5%;
    display: inline-block;
    margin-right: 20px;
    
}

.thumb1{
    background-image: url("snow.jpg");
    font-weight: bold;
    font-size: 3em;
    background-size: cover;
    width: 30%;
    height: 500px;
    border-radius: 5%;
    display: inline-block;
    margin-right: 20px;
    margin-left: 30px;















/* Questions
How to put text in pictures.
How to size pictures so they wont resize
